<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.tomahawk.spotifyplugin">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application android:name=".TomahawkApp"
                 android:allowBackup="true"
                 android:label="@string/app_name"
                 android:icon="@mipmap/ic_launcher">

        <service android:name="org.tomahawk.spotifyplugin.SpotifyService">
            <intent-filter>
                <action android:name="org.tomahawk.spotifyplugin.BindToService"/>
            </intent-filter>
        </service>

    </application>

</manifest>
